.btn {
    padding: 10px 20 px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: #498db4;
    color: white;
    transform: ;
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
    background: #2ecc71;
    color: black;
    transform: scale(1.1);
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fade-in-box {
    margin-top: 50px;
    animation: faden 5s ease-in;
}
@keyframes faden {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


.spinner {
    height: 40px;
    width: 40px;
    border: 4px solid gray;
    border-radius: 45%;
    border-right: 4px solid transparent;
    margin: 20px;
    animation: loading 2s linear infinite;
}
@keyframes loading {
    to {
        transform: rotate(-360deg);
    }
}

body {
    background-color: beige;
}

.star {
    font-size: 50px;
    color: gold;
    animation: twinkle 1.5s ease-in-out infinite ;
    margin: 50px;

}
@keyframes twinkle {
    0%, 100% {
        opacity: 1;
        transform: scale(1);

    }
    50% {
        opacity: 0.3;
        transform: scale(1.3);
    }

}

.burger {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 5px;
    background: black;
    margin: 6px 0;
    border-radius: 2px;
    transition: 0.3s;

}

.burger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);

}

.burger.active span:nth-child(3) {
    transform: translateY(-11.5px) rotate(-45deg);

}

.burger.active span:nth-child(2) {
    opacity: 0;

}

.burger span:nth-child(2) {
    width: 20px;
    margin: auto;
    color: brown;

}
.burger span:nth-child(1), .burger span:nth-child(3) {
    background-color: darkkhaki;

}

.ball {
    height: 50px;
    width: 50px;
    background-color: #2ecc71;
    border-radius: 50%;
    position: relative;
    margin: 25px;
    animation: move 1s infinite ease-in-out;

}

@keyframes move {
    0%, 100% {
        top: 0;
    }

    50%{
        top: -60px;
    }
}

.progress-container {
    background-color: aqua;
    height: 10px;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    background-color: rgb(242, 139, 5);
    height: 100%;
    width: 0;
    animation: fill 10s forwards;
}

@keyframes fill {
   to {
    width: 100%;
    background: rgba(255, 0, 0, 0.674);
   } 
}

.gradientbox {
    width: 300px;
    height: 100px;
    background: linear-gradient(270deg, pink, purple,limegreen);
    background-size: 600%, 600%;
    border-radius: 12px;
    margin: 20px;
    animation: gradientmove 5s ease infinite;

}
@keyframes gradientmove {
    0%, 100%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
}

.Heart {
    margin: auto;
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background: red;
    transform: rotate(45deg);
    position: relative;
    animation: beat 1s infinite ease-in-out;
}

.Heart::before, 
.Heart::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
    
}
.Heart::before {
    left: 0;
    top: -25px;
}
.Heart::after {
    top: 0;
    left: -25px;
    
}

@keyframes beat {
    0%, 100% {
        transform: rotate(45deg) scale(1.1)

    }
    50% {
        transform: rotate(45deg) scale(1.2)
        
    }
}
